[submodule "src/ccolour"]
	path = src/ccolour
	url = https://github.com/RolandWH/ccolour
[submodule "src/inih"]
	path = src/inih
	url = https://github.com/benhoyt/inih
[submodule "src/cxxopts"]
	path = src/cxxopts
	url = https://github.com/jarro2783/cxxopts
